
# minio 连接相关
app:
  # 流程相关
  flow:
    # 流程根目录
    folder-flow: V:\flow_temp\temp
    # 流程运行控制台日志
    log-console: true

  # 上传存储空间列表相关接口
  controller-target:
    # 是否启用相关接口
    enable: true
    # 可用上传空间列表
    targets: '[ { "target": "minio", "bucket": "jfb" }, { "target": "filesystem", "bucket": "jfb" }, { "target": "qiniu", "bucket": "firok-test-public" } ]'

  # 控制上传过程
  service-upload:
    # 是否启用此工作流处理器
    enable: true
    # 上传超时时间, 单位: ms
    timeout: 300_000

  service-merge:
    # 是否启用此工作流处理器
    enable: true
    filename-merge: file_merge.bin

  # 控制转码切片过程
  service-transcode:
    ffmpeg-base:
      # 是否启用此工作流处理器的子类
      enable: true
      # 调用 ffmpeg 的命令
      path-ffmpeg: ffmpeg
      # 调用 ffprobe 的命令
      path-ffprobe: ffprobe
    ffmpeg-m3u8:
      # 是否启用此工作流处理器
      enable: true
      # 转码切片后输出到的目录 相对于工作流根目录的相对路径
      folder-transcode-m3u8: ./m3u8

  # 控制存储过程
  service-storage:
    # 文件系统持久化存储
    file-system:
      # 是否启用此工作流处理器
      enable: true
      # 文件系统的储存位置
      folder-storage: V:\flow_temp\storage
      # 文件名映射器
      # 通过此存储器读写所有文件路径前 都会先对路径字符串使用指定映射器计算
      # 修改此字段会使得之前以不同映射器映射储存的持久化存储数据无法读取
      # 目前可用映射器: no-hash, uuid-quadruple, uuid-sextuple
      filename-hash-mapper: uuid-sextuple
    # MinIO 持久化存储
    minio:
      # 是否启用此工作流处理器
      enable: true
      # minio 地址和用户名信息
      url: http://192.168.19.115:29001
      username: minio-server
      password: minio-server-password-000*
      # 是否检查桶存在性并自动创建
      auto-make-bucket: true
    # 七牛云持久化存储
    qiniu:
      # 是否启用此工作流处理器
      enable: true
      # 七牛云连接密钥
      access-key: K4AyEBRYQYDTY5Gx7BPIsQQib1aIE4MwXD7b83_P
      secret-key: lllhjhaQtIvXJXBo540Miw2VZzqT9Olf1o48kx6N
      # 为什么这么写捏 因为找了半天都没跑通注入实体的办法
      buckets: '{"firok-test-public":{"region":"huadong","domain":"rc3wj1b5q.hd-bkt.clouddn.com","use-https":false,"deadline":36000},"demo-firok":{"region":"huadong","domain":"rb2uaos6l.hd-bkt.clouddn.com","use-https":false,"deadline":36000}}'

server:
  port: 29011
  servlet:
    encoding:
      charset: UTF-8
      force: true

spring:
  session:
    jdbc:
      initialize-schema: always
      schema: classpath:/schema-mysql.sql

  datasource:
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://192.168.80.167:3306/sdyzt?serverTimezone=GMT%2B8&useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&zeroDateTimeBehavior=convertToNull
#    username: root
#    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/jfb?serverTimezone=GMT%2B8&useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&zeroDateTimeBehavior=convertToNull
    username: root
    password: root
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      minimum-idle: 5
      idle-timeout: 600000
      maximum-pool-size: 10
      auto-commit: true
      pool-name: HikariCorePool
      max-lifetime: 1800000
      connection-timeout: 30000
      connection-test-query: select * from information_schema.tables limit 1
  mvc:
    static-path-pattern: /static/**
  servlet:
    multipart:
      max-file-size: 2048MB
      max-request-size: 2048MB
