<html>
<head>
    <title>上传示例</title>
    <meta charset="utf-8">
    <script src="axios.min.js"></script>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="video-js.css">
    <script src="video.min.js"></script>
</head>
<body>

<div id="app">
    <div>
        <input type="file"
               id="123"
               ref="fileObject"
               @change="fileObject = $refs['fileObject']?.files[0]">
    </div>
    <div>
        选中的文件: {{ fileName }}
    </div>
    <div>
        文件大小 {{ fileSize }} Byte
    </div>
    <div>
        切片上传大小 <input type="number" v-model="sliceSize"> Byte
    </div>
    <div>
        切片数量 {{ sliceCount }}
    </div>
    <div>
        <button @click="startUploadTask()">开始上传</button>
    </div>
    <div>
        {{ hasStartUpload ? '开始上传' : '等待上传' }}
    </div>
    <div>
        {{ taskUpload?.process ?? '暂无状态' }}
    </div>

    <div>
        <button @click="stopUploadTask()">停止监听状态</button>
    </div>

    <div>
        测试地址
        <input type="text" v-model="opt.sources[0].src">
    </div>

<!--    <div style="border: blue 1px solid">-->
<!--        vjs div-->
<!--        <vjs :options="opt"/>-->
<!--        -->
<!--    </div>-->


</div>

<video-js id="vid1" controls class="vjs-fluid">
    <source src="http://rb2uaos6l.hd-bkt.clouddn.com/442a0ac3-841d-402c-8de1-5801e2c8b9db.m3u8?pm3u8/0&e=1651213525195&token=K4AyEBRYQYDTY5Gx7BPIsQQib1aIE4MwXD7b83_P:bsn1TJco17PzwRk4S_DBxj93mow="/>
</video-js>
<script>
    const player = videojs('vid1', {});
</script>

</body>
<script src="upload-kit.js"></script>
<script src="upload-demo.js"></script>
</html>
